body {
  background-color: #232323;
  /*background-color: #f0eeee; */
}
.chat__wrapper {
  background-color: #343434;
  border: none;
}

.bi-robot {
  font-size: 30px;
  color: #19c37d;
}
.bi-person {
  font-size: 25px;
  color: #fff;
}

.icon-md {
  color: rgb(25, 195, 125);
  width: 25px;
}
.titulo {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}
