.boton-flotante {
  position: fixed; /* Esto permite que el botón se mantenga en su posición incluso al desplazarse por la página */
  top: 20px; /* Ajusta la distancia desde la parte superior según tus preferencias */
  right: 20px; /* Ajusta la distancia desde la derecha según tus preferencias */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilos para el modo claro (cuando "dark-mode" NO está presente en <body>) */
body:not(.dark-mode) {
  background-color: #f0eeee;
  animation-name: hoverTransiton;
  animation-duration: 0.6s;
}
body:not(.dark-mode) textarea {
  background-color: #f9f9f9;
}

/* Estilos para el modo oscuro (cuando "dark-mode" SI está presente en <body>) */
body.dark-mode {
  background-color: #333;
  animation-name: hoverTransiton;
  animation-duration: 0.6s;
}
body.dark-mode .textarea {
  background-color: #d9d4d4;
}
